<form class="navbar-form well " role="search">
	<div class="navbar-inner">
		<div class="form-group">
			<input type="text" ng-model="searchBy" class="form-control"  placeholder="Search">
			<button type="submit" ng-click="find(searchBy)" class="btn btn-default">Find</button>
		</div>
		<div class="pull-right">
			<add-course-btn ng-click="addCourse()"></add-course-btn>
		</div>
	</div>
</form>

<ul class="media-list" ng-repeat="course in courses |filter:{name:inputVal}">
	<li class="well col-md-9">
		<div class="col-md-9">
			<h4 class="media-heading">{{course.name}}</h4>
			<div><strong>Duration: </strong>{{course.duration | duration}}</div>
			<div><strong>Date: </strong>{{course.date}}</div>
		</div>
		<div class="col-md-9">
			{{course.description}}
		</div>
		<div class="col-md-2">
			<p>
				<button type="button" ng-click="edit(course)" class="btn btn-primary">Edit</button>
			</p>
			<p>
				<button type="button" ng-click="remove(course)" class="btn btn-primary">Remove</button>
			</p>
		</div>
	</li>
</ul>
