<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div class="container" >
	<nav class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="MainMenuController">
		<img class="navbar__logo pull-left" ng-src="{{logo.img}}"/>
		<div class="navbar-inner">
			<ul class="nav navbar-nav">
				<li><a ng-href="#/courses">Courses</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right" ng-hide="isAuthenticated()">
				<li><a ng-href="#/login">Login</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right" ng-show="isAuthenticated()">
				<li class="dropdown">
					<a class="dropdown-toggle" href="#" ng-click="preventDefault($event)" data-toggle="dropdown" >{{user.name}}</a>
					<ul class="dropdown-menu">
						<li><a ng-href="#" ng-click="logout()">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<div ng-view></div>

	<nav class="navbar navbar-default navbar-fixed-bottom" style="padding-top: 15px; background-color: #d2d2d2;">
		<p class="text-center">
			Copyright 2016
		</p>
	</nav>
</div>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="bower_components/angular-mocks/angular-mocks.js"></script>

<script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>

<script src="app.js"></script>
<script src="server.js"></script>
<script src="view1/view1.js"></script>
<script src="view2/view2.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--controllers-->
<script src="controllers/MainMenuController.js"></script>
<script src="controllers/LoginController.js"></script>
<script src="controllers/CoursesController.js"></script>
<script src="controllers/CourseController.js"></script>
<!--.controllers-->
<!--services-->
<script src="services/authentication.js"></script>
<script src="services/userData.js"></script>
<script src="services/userData.js"></script>
<script src="services/userResource.js"></script>
<script src="services/formatService.js"></script>
<script src="services/coursesResource.js"></script>

<!--.services-->
<!--directives-->
<script src="directives/addCourseBtn.js"></script>
<script src="directives/authorsList.js"></script>
<script src="directives/dateValidation.js"></script>
<script src="directives/durationValidation.js"></script>
<!--.directives-->
<script src="filters/filters.js"></script>
</body>
</html>
